#indexDiv {
    background-image: url(../media/play.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    top:0px;
    left:0px;

}

#playnow {
    background-color: white;
    border: none;
    color: black;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 550px;
    margin-left: 600px;
    font-weight: bold;
}

#btnDiv {
    padding-bottom: 40px;
}

#videoDiv {
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}
.question{
    color: white;
    font-size: 25px;
    text-align: center; 
}
#myVideo {
    position:absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#quesBody {
    display: none;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 85px;
    margin-top: -10px;
    bottom: 0%;
    background-image: url(../media/Background_questions.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

#quesDiv {
    background-image: linear-gradient(to right, rgb(14, 83, 173), rgb(124, 172, 250));
    align-items: center;
    font-style: normal;
    width: 550px;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 25px;
    justify-content: center;  
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 400px;
    margin-top: 50px;
    border: 1px;
    border-radius: 10px;
}

p {
    color: white;
    font-size: 25px;
}

#answers {
    display: grid;
    gap: 10px;
    margin: 20px 0;
    width: 410px;
    height: 250px;
    margin-left: 500px;
    padding-bottom: 20px;
}

#btnA, #btnB, #btnC, #btnD  {
    text-align: left;
    width: 350px;
    height: 60px;
    color: white;
    font-size: 20px;
    background-color: rgb(51, 51, 75);
    
}

 #choiceA,#choiceB, #choiceC, #choiceD {
    font-size: 20px;
    text-align: left;
    display: inline;
}

#wrongAnswerFb {
    display: none;
}

#wrongAnswerFb {
    position: fixed;
    left: 0;
    bottom:0;
    height: 100%;
    width: 100%;
  }
  #CorrectAnsDiv{
    display: none;
}
#answerResultDiv{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    width: 60%;
    height: 250px;
}

.correct{
    background-color: green;
  }
.incorrect{
    background-color: red;
  }
#nextQueButton{
    width: 200px;
    margin-left: 70%;
    font-size: 16px;
    padding: 10px;
    border: none;
    background: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
#nextQueButton:hover {
    background: rgb(255, 255, 255);
    color: rgb(10, 111, 145);
  }
  #countdown {
    padding: 10px;
    border-radius: 50%;
    margin-left: 90%;
    border: 3px solid white;
    background-color: rgb(17, 55, 87);
    color: rgb(253, 253, 253);
    text-align: center;
    font-weight: bold;
    font-family: "Vardana,sans-serif";
    font-size: 40px;
    
  }
#correctanswer{
    margin-top: -2px;
}
